:local {
  .sitemap {
    padding: 3rem 6rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      font-size: 0.85rem;
      width: 100%;
      color: blue;
      padding: 0.5rem 0;
    }
    a:hover {
      color: crimson;
    }
  }

  @media (max-width: 768px) {
    .section_a {
      padding: 1.5rem;
    }
  }
}