@import '_typography';
@import '_colors';
@import '_functions';

:local {
  .header {
    @include raleway-medium;
    font-variant: all-petite-caps;
    font-size: 2rem;
    margin-top: 2rem;
    color: $primary;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .radio_a, .radio_b, .radio_c {
    padding: 0.5rem 2rem;
    color: white;
    border-radius: 3px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    // transition: 0.5s;
    cursor: pointer;
    @include disable-select;
  }

  .radio_a { background-color: $positive }
  .radio_b { background-color: $neutral }
  .radio_c { background-color: $negative }

  .selected {
    border: 3px black solid;
    // background-color: $primary;
    // color: white;
    padding: calc(0.5rem - 3px) calc(2rem - 3px);
  }


  .section {
    margin-bottom: 2rem;
  }

  .action {
    margin-top: -1rem;
    margin-bottom: 2rem;
  }

  .sub_header {
    margin-top: 1rem;
  }

  .textarea {
    margin-top: 2rem !important;
    height: 10rem;
    width: 100%;
    padding: 0.6rem 1.2rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    // font-family: 'American Typewriter' !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    // line-height: 2rem !important;
    border-spacing: 10rem;
  }

  .button {
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    background: none;
    cursor: pointer;
    color: $primary;
  }

  .highlight {
    background-color: $primary;
    color: white;
  }
}