# dependency
www/node_modules
api/ENV

# build
www/dist

# IDE
.idea
venv
*.pyc

# Django
*_initial.py
secret_key.py

# data
course_content.json*
class_schedule.json*
exam_schedule.json*

# deploy
*.retry
*.zip
