# dependency
**/node_modules
**/ENV
**/env
**/venv

# build
www/dist

# cache
**/__pycache
**/*.cache

# IDE
.idea
venv
**/*.pyc
**/.vscode
**/*.code-workspace

# Django
api/ntuvibe/webapi/migrations
secret_settings.py
*.log*

# data
course_content.json*
class_schedule.json*
exam_schedule.json*
**/output

# deploy
*.retry
*.zip

# Mac .DS_Store
.DS_Store

# Notebooks
notebooks

# Experimental
services

# Sensetive
**/serviceKey.json
**/.env