# dependency
www/node_modules
api/ENV

# build
www/dist

# IDE
.idea
venv
**/*.pyc

# Django
api/ntuvibe/webapi/migrations
secret_settings.py
*.log*

# data
course_content.json*
class_schedule.json*
exam_schedule.json*

# deploy
*.retry
*.zip

# Mac .DS_Store
.DS_Store

# Notebooks
notebooks

# Experimental
services