@import "_colors";

:local {
  table {
    margin-top: 20px;
    color: grey;
    text-align: center;
    box-shadow: -1px -2px 2px #d2d3d290;
  }
  th,
  td {
    padding: 8px 30px;
  }
  th {
    padding: 10px 30px;
  }
  tr:nth-child(even) {
    background-color: #d3d2d390;
  }
}
