:local {
  .background_image {
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(45deg, rgba(8, 6, 20, 0.5), rgba(83, 160, 253, 0.5) 45%, rgba(225, 142, 7, 0.5)), url('./assets/background.jpg') no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    filter: blur(8px);
    transform: scale(1.1); // scale the image larger to hide white border
  }
  
  .home_page {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .course_search {
    display: flex;
    justify-content: center;
    width: 50%;
    color: white;
    position: absolute;
    top: 35%;
  }
}