:local {
  .background_image {
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(45deg, rgba(8, 6, 20, 0.5), rgba(83, 160, 253, 0.5) 45%, rgba(225, 142, 7, 0.5)), url('./assets/background.jpg') no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    filter: blur(8px);
    transform: scale(1.1); // scale the image larger to hide white border
  }
  
  .home_page {
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .course_search {
    width: 50%;
    color: white;
    margin-top: 15%;
  }

  .footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 3rem;
    position: absolute;
    padding: 1rem 0;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 0.85rem;
    line-height: 1.5;
    white-space: pre-line;
  }
  // .footer {
  //   position: absolute;
  //   top: 100vh;
  // }
}