@import 'colors';
@import 'functions';

:local {
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3)), $primary;
    background-blend-mode: overlay;
    z-index: 1;
    color: white;
    font-variant: all-petite-caps;
    @include disable-select;
    .search {
      width: 50%;
      margin: 0 6rem
    }

    .actions {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .action {
      padding: 1.5rem 2rem;
      background: linear-gradient(rgba(255, 255, 255, 0.1));
    }
    .action:hover {
      cursor: pointer;
      background: linear-gradient(rgba(255, 255, 255, 0.15));
    }
  }

  @media (min-width: 0) {
    .menu {
      display: none;
    }
    .search {
      display: none;
    }
  }

  @media (min-width: 360px) {
    // empty rule
  }

  @media (min-width: 768px) {
    .menu {
      display: flex;
    }
    .search {
      display: inline;
    }
  }

  @media (min-width: 1024) {
    .menu {
      display: flex;
    }
  }
}