@import 'colors';
@import 'functions';

:local {
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3)), $primary;
    background-blend-mode: overlay;
    z-index: 1;
    color: white;
    font-variant: all-petite-caps;
    @include disable-select;
    .search {
      width: 40%;
      padding: 0 2rem;
    }
    .dropdown {
    }
  
    .action {
      // flex: 1;
      padding: 1.5rem 2rem;
      background: linear-gradient(rgba(255, 255, 255, 0.1));
    }
    .action:hover {
      cursor: pointer;
      background: linear-gradient(rgba(255, 255, 255, 0.15));
    }
  }
}