@import 'colors';
@import 'functions';

:local {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.3)), $primary;
    background-blend-mode: overlay;
    z-index: 1;
    color: white;
    font-variant: all-petite-caps;
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    @include disable-select;
    .search {
      width: calc(50% - 6rem);
      margin: 0 6rem;
      margin-right: 0;
    }

    .actions {
      // width: 100%;
      display: flex;
      // justify-content: center;
      justify-content: flex-end;
      margin-left: 3rem;
      margin-right: 6rem;
    }
  
    .action {
      padding: 1.5rem 2rem;
      background: linear-gradient(rgba(255, 255, 255, 0.1));
    }
    .action:hover {
      cursor: pointer;
      background: linear-gradient(rgba(255, 255, 255, 0.15));
    }
  }

  // @media (min-width: 0) {
  //   .menu {
  //     display: none;
  //   }
  //   .search {
  //     display: none;
  //   }
  // }

  // @media (min-width: 360px) {
  //   // empty rule
  // }

  // @media (min-width: 768px) {
  //   .menu {
  //     display: flex;
  //   }
  //   .search {
  //     display: inline;
  //   }
  // }

  // @media (min-width: 1024) {
  //   .menu {
  //     display: flex;
  //   }
  // }
}