@import '_functions';
@import '_colors';
@import '_typography';

:local {
  .home_page {
    display: flex;
    align-content: center;
    justify-content: center;
    // background: linear-gradient(45deg, rgba(8, 6, 20, 0.5), rgba(83, 160, 253, 0.5) 45%, rgba(225, 142, 7, 0.5)), url('./assets/background.png');
    background-size: cover;
    background-position: top;
    background-blend-mode: overlay;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    min-height: 100vh;
    flex: 1;
    position: relative;
  }

  .bannerContainer {
    @include graduate;
    @include disable-select;
    margin-top: 8%;
    font-size: 4rem;
  }

  .searchContainer {
    width: 60%;
    // color: white;
    // margin-top: 15%;
    margin-top: 2rem;
  }

  .tip {
    // color: white;
    margin-top: 2rem;
    font-size: 0.85rem;
  }

  .tipM {
    display: none;
    width: 90%;
    color: white;
    margin-top: 2rem;
    font-size: 0.85rem;
    line-height: 2;
  }

  .badge {
    @include raleway-bold;
    background-color: crimson;
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
    margin-right: 0.5rem;
  }

  .emphasize {
    @include lato-medium;
  }

  .footer {
    @include lato-regular;
    // align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 5rem;
    position: absolute;
    padding: 1rem 0.5rem;
    bottom: 0;
    // margin-top: 35%;
    // color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    font-size: 0.75rem;
    line-height: 1.5;
    white-space: pre-line;
    .links {
      display: block;
      a {
        margin: 0 1rem;
        // color: white;
        font-size: 0.65rem;
        text-decoration: underline;
      }
    }
  }

  .fbLike {
    padding: 0 1rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6rem;
    .fbPage {
      margin-left: 1rem;
      // color: white;
      font-size: 0.85rem;
      white-space: pre-line;
      a {
        // color: white;
        border-bottom: 1px dashed white;
      }
    }
  }

  .callForActionContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: white;
    .why {
      margin-left: 1rem;
      // background-color: #037bc1;
      // padding: 0.25rem 0.5rem;
      // border-radius: 5px;
    }
  }

  .credit {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.3rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    border-radius: 10px;
    background: linear-gradient(140deg,#193b84 15%,#037bc1);
    color: white;
    @include medium-shadow;
    @include lato-regular;
    z-index: 9999;
    a {
      color: white;
      text-decoration: underline;
      &:hover {
        color: white;
      }
    }
  }

  @media (max-width: 768px) {
    // .container {
    //   min-height: calc(100vh - 3rem);
    // }

    .credit {
      position: relative;
      padding: 0;
      margin: 0;
      font-size: 0.65rem;
      background: none;
      box-shadow: none;
      a:hover {
        color: white;
      }
    }

    .fbLike {
      flex-direction: column;
      .fbPage {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    .footer {
      font-size: 0.65rem;
      .links {
        display: none;
      }
    }

    .searchContainer {
      width: 90%;
    }

    .tip {
      display: none;
    }

    .tipM {
      display: inline;
      text-align: center;
    }
  }
}