// ====== Classic Blue
// $primary: #0C63AA;
// $secondary: #0DA1AB;
// $complement: #714315;

// $indicator_a: #5E6BDC;
// $indicator_b: #bf5252;

// ====== Wu Lue Pink
// $primary: #E75480;
// $secondary: #9932CC;
// $complement: #2243B6;

// ====== Harvard Crimson
$primary: #A50A0E;
$secondary: rgb(13, 117, 124);
$complement: #714315;

$indicator_a: #1B6AA5;
$indicator_b: #A50A0E;

$positive: #28a745;
$neutral: #c99027;
$negative: #cb2431;

// ====== Yale BLue
// $primary: #00356B;