// Classic Blue
$primary: #0C63AA;
$secondary: #0DA1AB;
$complement: #714315;

$indicator_a: #5E6BDC;
$indicator_b: #bf5252;

// Wu Lue Pink
// $primary: #E75480;
// $secondary: #9932CC;
// $complement: #2243B6;