@mixin open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin open-sans-medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}