// @font-face {
//   font-family: 'American Typewriter';
//   src: url('./fonts/american-typewriter.eot'),
//     // url('./fonts/american-typewriter.svg'),
//     url('./fonts/american-typewriter.ttf'),
//     url('./fonts/american-typewriter.woff'),
//     url('./fonts/american-typewriter.woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'American Typewriter Bold';
//   src: url('./fonts/american-typewriter-bold.eot'),
//     // url('./fonts/american-typewriter-bold.svg'),
//     url('./fonts/american-typewriter-bold.ttf'),
//     url('./fonts/american-typewriter-bold.woff'),
//     url('./fonts/american-typewriter-bold.woff2');
//   font-weight: bold;
//   font-style: bold;
// }

@mixin american-typewriter {
  font-family: 'American Typewriter';
}

@mixin american-typewriter-bold {
  font-family: 'American Typewriter Bold';
}

@mixin open-sans-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@mixin open-sans-medium {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

@mixin open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

@mixin raleway-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@mixin raleway-medium {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

@mixin raleway-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

@mixin lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@mixin lato-medium {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}

@mixin lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

// @mixin modern-antiqua {
//   font-family: 'Modern Antiqua', cursive;
// }