@import 'colors';
@import 'typography';
@import 'functions';

:global {
  #app {
    @include open-sans-regular;
    font-size: 18px;
  }

  textarea, select, input, button {
    outline: none;
  }

  a {
    text-decoration: none;
  }

  .popup-overlay {
    position: absolute;
    background-color: rgba(255,255,255,.8) !important;
    z-index: 100;
  }

  .popup-content {
    font-variant: none;
    color: black;
    padding: 0 2rem !important;
    overflow-y: auto;
    max-height: 75vh;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
    border: none !important;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}