@import 'colors';
@import 'typography';
@import 'functions';

:global {
  #app {
    @include open-sans-regular;
    font-size: 16px;
  }
  body {
    overflow: hidden; // prevent scrolling
  }
  textarea, select, input, button {
    outline: none;
  }
}