@import 'colors';
@import 'typography';
@import 'functions';

:global {
  #app {
    @include open-sans-regular;
    font-size: 18px;
  }

  textarea, select, input, button {
    outline: none;
  }

  a {
    text-decoration: none;
  }
}