@import 'functions';
@import 'typography';
@import 'colors';

:local {
  .container {
    display: flex;
    justify-content: center;
  }
  .header {
    margin-top: 0 ;
  }
  .innerContainer {
    margin: 2rem;
    padding: 1.5rem 3rem;
    width: 50%;
    @include medium-shadow;
  }
  .inputs {
    width: 80%;
    text-align: center;
    input {
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }
  .activate {
    color: white;
    background-color: $primary;
  }
}