@import "typography";
@import "colors";
@import "functions";

:local {
  .container {
    display: flex;
    flex-direction: column;
  }

  .title {
    @include raleway-medium;
    color: $secondary;
    font-size: 1.2rem;
  }

  .table_container {
    margin-top: 2rem;
    table {
      width: 100%;
      @include medium-shadow;
      border-collapse: collapse;
    }
  
    td, th {
      // border: 1px solid #ddd;
      padding: 0.5rem 1rem;
    }
    tr:nth-child(even) {
      background-color: #f5f4f490;
      .index {
        // background-color: $primary;
        // color: white;
        border-left: 5px solid black;
      }
    }
  
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: white;
      color: black;
    }
  }
}