@import 'colors';
@import 'typography';

:local {
  .container {
    display: flex;
    flex-direction: column;
    text-align: left;
    // min-height: 10rem;
  }

  .header {
    @include raleway-medium;
    font-variant: all-petite-caps;
    font-size: 2rem;
    margin: 2rem 0;
    margin-bottom: 1.5rem;
    color: $primary;
  }

  .text {
    margin-top: 0;
  }

  .inputContainer {
    width: 100%;
    .input {
      width: 100%;
      box-sizing: border-box;
      font-size: 0.75rem;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 2px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      height: 10rem;
    }
  }

  .importButtonContainer {
    margin: 2rem 0;
    .button {
      background-color: $primary;
      color: white;
    }
  }
}