@import "_typography";
@import "_colors";
@import "_functions";

:local {
  .container {
    display: flex;
    flex-direction: column;
  }

  .title {
    @include raleway-medium;
    color: $secondary;
    font-size: 1.2rem;
  }

  .last_update {
    margin-top: 2rem;
    font-size: 0.85rem;
    color: #7d7d7d;
  }

  .table_container {
    margin-top: 2rem;
    table {
      width: 100%;
      @include medium-shadow;
      border-collapse: collapse;
    }
  
    td, th {
      padding: 0.5rem 1rem;
    }
    tr {
      background-color: #f5f4f490;
    }
  
    th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: white;
      color: black;
    }
  }
}