@import "colors";
@import "typography";

:local {
  .container {
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  .content {
    padding: 3rem 6rem;
    p {
      line-height: 1.35;
      font-size: 0.95rem;
    }
    li {
      margin-bottom: 0.5rem;
      padding-left: 0.5rem;
      line-height: 1.35
    }
  }

  .header {
    font-size: 2.5rem;
    color: $primary;
    @include raleway-medium;
  }

  h1 {
    color: $primary;
  }

  h2 {
    color: black;
  }

  @media (max-width: 768px) {
    .content {
      padding: 1.5rem;
    }
  }
}