@import "colors";
@import "typography";

:local {
  .container {
    display: flex;
    flex-direction: column;
    background: #fff;
  }

  .content {
    padding: 3rem 6rem;
    p {
      line-height: 1.35;
    }
    li {
      margin-bottom: 0.5rem;
      padding-left: 0.5rem;
      line-height: 1.35
    }
  }

  .header {
    font-size: 2rem;
    color: $primary;
    @include raleway-medium;
  }

  h1 {
    color: $primary;
  }

  h2 {
    color: black;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.75rem;
  }

  .footer {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    img {
      height: 2rem;
      margin-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    .content {
      padding: 1.5rem;
    }
  }
}