@import 'functions';

:local {
  .hyper {
    margin: 1rem;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e5e5;
    border-radius: 9999rem; // make sure it's a circle
    padding: 1.5rem;
    transition: 0.2s;
  }

  .hyper:hover {
    .container {
      border: 2px solid crimson;
    }
  }

  .img {
    @include disable-select;
    height: 2rem;
    width: 2rem;
  }
}