@import 'typography';
@import 'colors';

:local {
  .page_course_detail {
    display: flex;
    min-height: 100vh;
    position: relative;
  }

  .sidebar {
    flex: 1;
  }

  .content {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem;
    margin-bottom: 2rem;
    background: white;
  }

  .row_box {
    display: flex;
  }

  .column_box {
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    flex-direction: column;
    &_row {
      display: flex;
      justify-content: space-between;
      .course_code, .rating_overall {
        font-size: 3rem;
        @include open-sans-bold;
        color: $secondary;
      }
      .rating_overall {
        color: $indicator_a;
      }
    }
    &_course_title {
      font-size: 2rem;
      @include open-sans-medium;
      margin-top: 2rem;
    }
  }


  .course_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    .course_description {
      @include lato-regular;
      margin-top: 2rem;
      text-align: justify;
      line-height: 1.75rem;
      font-size: 1rem;
    }
  }

  .middle_placeholder {
    width: 5rem;
  }

  .course_info_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    .rating_useful {
      margin-top: 2rem;
    }
    .rating_easy {
      margin-top: 1.5rem;
    }
    .au {
      margin-top: 2.5rem;
      @include lato-medium;
      font-size: 2rem;
    }
    .availability {
      margin-top: 1rem;
      div {
        margin-top: 1.5rem;
      }
    }
  }

  .requirement {
    display: flex;
    margin-top: 2rem;
    .label {
      @include open-sans-medium;
      color: $complement;
      margin-right: 1rem;
      text-align: right;
      flex: 1;
    }
    .requirement_content {
      flex: 3;
      font-size: 0.85rem;
      line-height: 1.5rem;
    }
  }

  .table {
    margin-top: 3rem;
    width: 100%;
  }

  .availability {
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.5rem;
  }

  .header {
    @include open-sans-medium;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .comment_list {
    margin-top: 2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: $primary;
    height: 3rem;
    position: absolute;
    padding: 1rem 0;
    bottom: 0;
    color: white;
    text-align: center;
    width: 100%;
  }
}