@import 'typography';
@import 'functions';
@import 'colors';

:local {
  .page_course_detail {
    display: flex;
    flex-direction: column; // experiement
    min-height: 100vh;
    position: relative;
  }

  .content {
    // flex: 4;
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
    background: white;
  }

  .row_box {
    display: flex;
  }

  .column_box {
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    flex-direction: column;
    color: $secondary;
    &_row {
      display: flex;
      justify-content: space-between;
      .course_code, .rating_overall {
        font-size: 3rem;
        @include raleway-bold;
      }
      .rating_overall {
        color: $indicator;
        @include american-typewriter;
      }
    }
    &_course_title {
      font-size: 2rem;
      @include raleway-bold;
      margin-top: 2rem;
    }
  }


  .course_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    .course_description {
      @include lato-regular;
      margin-top: 2rem;
      text-align: justify;
      line-height: 1.75rem;
      font-size: 1rem;
    }
  }

  .middle_placeholder {
    width: 5rem;
  }

  .course_info_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    .rating_useful {
      @include disable-select;
      margin-top: 2rem;
    }
    .rating_easy {
      @include disable-select;
      margin-top: 1.5rem;
    }
    .au {
      margin-top: 2.5rem;
      @include american-typewriter;
      font-size: 2rem;
    }
    .availability {
      margin-top: 1rem;
      div {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
      }
      img {
        @include disable-select;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.2rem;
      }
    }
  }

  .requirement {
    display: flex;
    margin-top: 2rem;
    .label {
      @include open-sans-medium;
      color: $complement;
      margin-right: 1rem;
      text-align: right;
      flex: 1;
    }
    .requirement_content {
      flex: 3;
      font-size: 0.85rem;
      line-height: 1.5rem;
    }
  }

  .table {
    margin-top: 3rem;
    width: 100%;
  }

  .availability {
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 1.5rem;
  }

  .header {
    @include raleway-medium;
    color: $secondary;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .comment_list {
    margin-top: 2rem;
  }
}