@import "colors";
@import "typography";

:global {
  // react-big-calendar
  // !important is really gross
  .rbc-toolbar {
    flex-direction: row-reverse !important;
    margin-bottom: 1rem !important;
    span {
      button {
        box-shadow: none !important;
      }
    }
  }

  .rbc-time-view {
    border: none !important;
  }

  .rbc-label {
    @include lato-regular;
    color: $text-hint;
  }

  .rbc-today {
    background-color: rgba(0, 0, 0, .05) !important;
  }

  .rbc-timeslot-group {
    // height of each slot. determined by how much information we want to show on each event slot
    min-height: 3.5rem !important;
    border-bottom: none !important;
  }

  .rbc-toolbar-label {
    text-align: left !important;
    @include open-sans-medium;
    font-size: 1.5rem;
    border-left: 5px solid $primary;
    padding-left: calc(1rem + 5px) !important;
    padding-right: 0 !important;
  }

  .rbc-event {
    // z-index: -1 !important;
    cursor: default !important;
    border: none !important;
    padding: 0.3rem !important;
    border-radius: 3px !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    overflow-y: auto !important;
    // border-bottom: 0 solid white !important;
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .rbc-header {
    padding: 0.5rem 0 !important;
    background-color: white !important;
  }

  .rbc-allday-cell {
    display: none !important;
  }

  .rbc-time-content {
    border-top: none !important;
  }

  .rbc-event-label {
    font-size: 0.6rem !important;
    // margin-bottom: 0.1rem !important;
    @include open-sans-regular;
    white-space: normal !important;
  }

  .rbc-event-content {
    white-space: pre-line !important;
    font-size: 0.6rem !important;
    line-height: 1.25 !important;
  }

  .rbc-time-slot {
    min-width: 6rem !important;
    text-align: right !important;
    padding-right: 0.5rem !important;
    padding-top: 0.25rem !important;
    font-size: 0.85rem !important;
  }

  .rbc-time-header-gutter {
    min-width: 6rem !important;
    border-bottom: 1px solid #DDD !important;
  }

  .rbc-events-container {
    right: 0px !important;
    width: 98% !important;
  }

  .rbc-current-time-indicator {
    display: none !important;
    left: 6rem !important;
    width: calc(100% - 6rem) !important;
    &::before {
      display: block;
      position: absolute;
      left: -3px;
      top: -3px;
      content: " ";
      background-color: #74ad31;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  }

  // color by category
  .category_0 {
    background-color: #0044FFbd !important;
    border-bottom: 5px solid #0044FF !important;
  }
  .category_1 {
    background-color: #FF8C00bd !important;
    border-bottom: 5px solid #FF8C00 !important;
  }
  .category_2 {
    background-color: #888451bd !important;  
    border-bottom: 5px solid #888451 !important;
  }
  .category_3 {
    background-color: #00811Fbd !important;
    border-bottom: 5px solid #00811F !important;
  }
  .category_4 {
    background-color: #760089bd !important;
    border-bottom: 5px solid #760089 !important;
  }
  .category_5 {
    background-color: #801b1bbd !important;
    border-bottom: 5px solid #801b1b !important;
  }
  .category_6 {
    background-color: #000000bd !important;
    border-bottom: 5px solid #000000 !important;
  }
  .category_7 {
    background-color: #b300adbd !important;
    border-bottom: 5px solid #b300ad !important;
  }
  .category_8 {
    background-color: #E70000bd !important;
    border-bottom: 5px solid #E70000 !important;
  }

  .category_9, .category_10, .category_11, .category_12 {
    border-bottom: 5px solid #26598c !important;
    background-color: #26598cbd !important;
  }

  @media (max-width: 768px) {
    .rbc-btn-group {
      display: none !important;
    }

    .rbc-time-header {
      display: none !important;
    }
  }
}

:local {
  .container {
    display: flex;
    flex-direction: column;
  }

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .header {
      font-size: 2.5rem;
      color: $primary;
      @include raleway-medium;
      display: flex;
      align-items: center;
      div {
        margin-right: 1rem;
        display: flex;
        align-items: center;
      }
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    .text {
      margin-top: 1rem;
      white-space: pre-line;
      line-height: 1.5;
    }
    .beautiful {
      color: $indicator;
      @include raleway-medium;
    }
    .tryItOut {
      color: $primary;
      font-size: 2rem;
      @include open-sans-medium;
      font-variant: all-petite-caps;
    }
    .stepContainer {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }
    .step {
      background-color: $indicator;
      @include open-sans-medium;
      font-size: 0.65rem;
      color: white;
      padding: 0.15rem 0.5rem;
      border-radius: 5px;
      margin-right: 1rem;
    }
  }

  .picContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .picItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      div {
        padding-top: 1rem;
        font-size: 0.85rem;
        color: #7d7d7d;
      }
      a {
        font-size: 0.85rem;
        // border-bottom: 1px solid;
      }
    }
  }

  .input {
    font-size: 0.5rem;
  }

  .import {
    margin-top: 1rem;
    background-color: $primary;
    color: white;
  }

  .innerContainer {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
  }

  .inputArea {
    margin-top: 2rem;
    width: 80%;
    height: 30rem;
    // padding: 2rem;
    font-size: 0.85rem;
    border-radius: 2px;
    border: $primary 1px solid;
  }

  .generate {
    width: 80%;
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
    background-color: $primary;
    transition: 0.8s;
    &:hover {
      box-shadow: 0 0 20px $primary;
      transform: scale(1.01);
    }
  }

  .scheduleContainer {
    position: relative;
    min-height: 10rem;
  }

  .calendarContainer {
    margin-top: 1rem;
  }

  .calendarHint {
    display: none;
  }

  .weekContainer {
    margin: 1.5rem 0;
  }

  .weekIndicator {
    display: inline;
    background-color: $indicator;
    padding: 0.5rem 0.75rem;
    border-radius: 3px;
    color: white;
    @include lato-regular;
    .week {
      @include lato-medium;
    }
  }

  .toolbar {
    button {
      margin-top: 1.5rem;
      margin-right: 2rem;
    }
    .sync {
      background-color: $primary;
      color: white;
    }
    .addToCalendar {
      // background-color: $primary;
      // color: white;
      background-color: #ccc;
    }
  }

  @media (max-width: 768px) {
    .innerContainer {
      padding: 1.5rem 1.5rem;
      padding-bottom: 3rem;
    }

    .headerContainer {
      align-items: flex-start;
      flex-direction: column;
    }

    .fbLike {
      margin-top: 1rem;
    }

    .addToCalendar {
      display: none;
    }
    
    .calendarHint {
      margin-top: 1.5rem;
      display: block;
    }
  }
}
