@import 'functions';

:local {
  .container {
    display: flex;
    width: 85%;
    margin-bottom: 3rem;
    .profile {
      flex: 1;
      text-align: right;
      margin-top: 1rem;
      margin-right: 3rem;
      position: relative;
      &_avatar {
        position: absolute;
        right: 0;
        width: 5rem;
        height: 5rem;
        background-color: #ccc;
        border-radius: 3rem;
        background-image: url('../../../SideBar/assets/top_img.svg');
        // background-size: contain;
      }
    }
    .box {
      flex: 4;
      font-size: 0.9rem;
      min-height: 7rem;
      background-color: rgba(204, 204, 204, 0.2);
      border-radius: 5px;
      padding: 1rem 2rem;
      display: flex;
      // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      &_left {
        flex: 4;
        display: flex;
        flex-direction: column;
        .username {
          margin-bottom: 0.5rem;
        }
        .glance {
          margin-bottom: 0.75rem;
          color: #656363;
        }
        .content {
          p {
            margin-top: 0;
            margin-bottom: 1rem;
          }
        }
      }
      &_right {
        margin-left: 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }

  .badge {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    border-radius: 3px;
    @include disable-select;
    &_good {
      background-color: green;
    }
    &_bad {
      background-color: orange;
    }
    &_moderate {
      background-color: red;
    }
  }
}