:local {
  .sitemap {
    padding: 1rem;
  }

  .container {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
      width: calc(33%-3rem);
      font-size: 0.85rem;
      padding: 0.3rem 0;
      margin-right: 3rem;
      a {
        color: blue;
      }
    }
  }
}