:local {
  .sitemap {
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
      font-size: 0.85rem;
      width: 100%;
      color: blue;
      padding: 0.5rem 0;
    }
  }
}