@import 'typography';
@import 'colors';

:local {
  .header {
    @include raleway-medium;
    font-variant: all-petite-caps;
    font-size: 2rem;
    margin: 2rem 0;
    color: $primary;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    flex: 3;
  }

  .section {
    margin-bottom: 2rem;
  }

  .sub_header {
    margin-bottom: 2rem;
  }

  .signup {
    cursor: pointer;
    border-bottom: 1px dotted;
  }

  .action {
    margin-bottom: 2rem;
  }
}