@import "colors";
@import "typography";

:global {
  // react-big-calendar
  // hate to use important
  .rbc-toolbar {
    flex-direction: row-reverse !important;
  }

  .rbc-btn-group {
    // display: none !important;
  }

  .rbc-toolbar-label {
    text-align: left !important;
    @include open-sans-medium;
    font-size: 2rem;
  }
}

:local {
  .container {
    display: flex;
    flex-direction: column;
  }

  .innerContainer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .inputArea {
    margin-top: 2rem;
    width: 80%;
    height: 30rem;
    // padding: 2rem;
    font-size: 0.85rem;
    border-radius: 2px;
    border: $primary 1px solid;
  }

  .generate {
    width: 80%;
    height: 5rem;
    font-size: 2rem;
    margin-top: 2rem;
    color: white;
    background-color: $primary;
    transition: 0.8s;
    &:hover {
      box-shadow: 0 0 20px $primary;
      transform: scale(1.01);
    }
  }

  .calendarContainer {
    padding: 1rem;
    min-height: 10rem;
  }
}
