@import 'colors';
@import 'typography';
@import 'functions';

:local {
  .navbar_container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 6rem;
    background-color: $primary;
    opacity: 1;
    z-index: 2;
    @include disable-select;
    // box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  }

  .navbar_mobile {
    display: none;
  }

  .brand {
    @include american-typewriter;
    display: inline;
    color: white;
    // font-size: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .brandLink {
    display: flex;
    align-items: flex-end;
  }

  .navbar_elements {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    height: 100%;
    // overflow: hidden;
    // padding: 0 6rem;
    @include open-sans-medium;
    font-size: 1.2rem;
    &_left {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 6rem;
      margin-right: 3rem;
    }
    &_right {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: 3rem;
      margin-right: 6rem;
      &_text {
        margin-right: 5rem;
        padding-bottom: 1.5rem;
      }
      &_text:hover {
        border-bottom: 3px solid white;
        padding-bottom: calc(1.5rem - 3px);
      }
      a {
        padding-bottom: 1.5rem;
        color: white;
      }
      a:hover {
        color: white;
      }
    };
  }

  .right_button {
    padding-bottom: 1.5rem;
  }

  .avatarImg {
    width: 3rem;
    height: auto;
    border-radius: 3rem;
    margin-bottom: -0.5rem;
    cursor: pointer;
    @include medium-shadow;
  }

  @media (max-width: 768px) {
    .navbar_container {
      height: 4rem;
      align-items: center;
    }

    .navbar_elements {
      display: none;
    }

    .navbar_mobile {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .item {
        display: flex;
        align-items: center;
        a {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
        }
      }
    }

    .avatarImg {
      margin-bottom: 0;
    }
  }
}