@import 'colors';
@import 'typography';

:local {
  .navbar_container {
    display: flex;
    align-items: center;
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 6rem;
    background-color: $primary;
    opacity: 0.9;
    z-index: 1;
  }

  .brand {
    @include american-typewriter;
    display: inline;
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
  }

  .navbar_elements {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: flex-end;
    color: white;
    @include open-sans-medium;
    font-size: 1.2rem;
    &_right {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      &_text {
        margin-right: 5rem;
      }
      a {
        color: white;
      }
      a:hover {
        color: white;
        border-bottom: 2px solid white;
      }
    };
  }
}