@import 'colors';
@import 'typography';
@import 'functions';

:local {
  .navbar_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    // background-color: $primary;
    background-color: rgba(250, 250, 250, 0.7);
    // opacity: 1;
    @include medium-shadow;
    // z-index: 2;
    @include disable-select;
    // box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
  }

  .navbar_mobile {
    display: none;
  }

  .brand {
    display: inline;
    color: white;
    // font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brandLink {
    display: flex;
    align-items: center;
  }

  .navbar_elements {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: rgb(0, 0, 0);
    @include lato-medium;
    font-size: 1.15rem;
    &_left {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 6rem;
      margin-right: 3rem;
    }
    &_right {
      display: flex;
      flex-direction: row;
      // align-items: flex-end;
      margin-left: 3rem;
      margin-right: 6rem;
      &_text {
        height: 5rem;
        margin-right: 5rem;
        display: flex;
        align-items: center;
      }
      a {
        color: rgba(17, 17, 17, 0.5);
        transition: color 0.25s;
        display: flex;
        align-items: center;
        div {
          margin-right: 1rem;
        }
      }
      a:hover {
        color: $primary;
      }
    };
  }

  .right_button {
    height: 5rem;;
    display: flex;
    align-items: center;
  }

  .avatarImg {
    width: 3rem;
    height: auto;
    border-radius: 3rem;
    // margin-bottom: -0.5rem;
    cursor: pointer;
    @include medium-shadow;
  }

  @media (max-width: 768px) {
    .navbar_container {
      height: 3rem;
      align-items: center;
    }

    .navbar_elements {
      display: none;
    }

    .navbar_mobile {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .item {
        display: flex;
        align-items: center;
        a {
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
        }
      }
    }

    .avatarImg {
      margin-bottom: 0;
    }
  }
}