@import "_colors";
:local {
  .header {
    background:#888;
    color: white;
    font-size: 1.5rem;
    padding: 10px 30px;
    font-weight: 100;
  }
  .table {
    width: 100%;
    margin: 0;
    font-size: 20px;
    color: grey;
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;
    td {
      padding: 8px 30px;
    }
    tr:nth-child(even) {
      background-color: #d3d2d390;
    }
  }
}
