@import "_colors";
@import "_typography";
@import "_functions";

:local {
  .container {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: black;
    padding: 1.5rem 6rem;
    background-color: white;
    @include lato-regular;
    font-size: 0.85rem;
    color: #5f6368;
  }

  .innerContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }

  .img {
    height: 2rem;
    width: 4rem;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(3, auto); // change the number 9 if you add/delete links
    grid-column-gap: 1.5rem;
    justify-content: center;
    a {
      color: #5f6368;
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    .container {
      padding: 1.5rem;
    }

    .innerContainer {
      display: block;
    }

    .text {
      display: none;
    }

    .brand {
      display: none;
    }
  }
}
