@import '_functions';

:local {
  .hyper, .hyper:visited, .hyper:hover {
    color: black;
    text-decoration: none;
    margin-bottom: 1rem;
    // margin-right: 2rem;
    display: block;
  }

  .container {
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: rgba(0, 0, 0, 0.01);
    text-align: left;
    padding: 1rem;
    transition: ease;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-property: box-shadow;
  }

  .tagContainer {
    margin-bottom: 1rem;
  }

  .container:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
  }

  @media (max-width: 768px) {
    .container {
      font-size: 0.8rem;
    }
  }
}